@import url('https://fonts.googleapis.com/css?family=Poor+Story');
@import url('https://www.1001fonts.com/neon-font.html');

* {
    box-sizing: border-box;
}

html, body {
    height:     100%;
    background: linear-gradient(-90deg, pink, purple);
}

.wrapper {
    margin: 0 auto;
}
.container {
    width:     100%;
    max-width: 960px;
    margin: 0 auto;
    clear:  both;
}
.title{
    text-align:   center;
    font-family: 'Poor Story', cursive;
    line-height:  95px;
    font-size: 50px;
    width: 100%;
    height: 50%;
    background-color: #000000;
    margin: 0px 5px 10px 5px;
    padding: 10px 5px 10px 5px;

    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;

    color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
	font: 40px 'MisoRegular';

    
}

#gameBox {
    margin:  5px 5px 5px 20px;
    width:   50%;
    height:  450px;
    padding: 10px 0px 10px 10px;
    
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: relative;
}

#wins {
    text-align:center;
    padding: 35px 0px 30px 0px;
}

#losses {
    text-align:center;
    padding: 35px 0px 30px 0px;
}

#guesses {
    text-align:center;
    padding: 35px 0px 30px 0px;
}

#guessLeft {
    text-align:center;
    padding: 35px 0px 30px 0px;
}
img {
    float: right;
    opacity: 0.9;
    margin: 0px 0px 0px 0px;
    border-style: groove;
    border-color: green;
    border-width: 5px;
    max-width: 100%;
    height: auto;

}

.crystalball {
    display:inline-block;
    clear:both;
    
    width: 85%;
    height: 90%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  }

  /*digregard
  .crystalball:before {
    content: "";
    position: relative;
    top: 10%;
    left: 5%;
    width: 50%;
    height: 70%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 2;
  }*/
  p {
      position: relative;
      float: left;
      padding: 5px 20px 5px 20px;
      font-size: 18px;
  }
